        * {
            margin: 0;
            padding: 0;
            /*            font-family: 'Cookie', cursive;*/
        }

        html {
            height: 100%;
            background-color: #E5E4E2;
        }

        /*Nav*/
        .logo_container img {
            max-width: 150px;
            margin: 10px;
            float: left;
        }

        .navigation li {
            display: inline-block;
            border-width: 0 1px 0 0;
            padding: 40px 10px 10px 10px;
            font-family: 'Cookie', cursive;
        }


        li {
            float: right;
        }

        li a {
            text-decoration: none;
        }

        .navigation {
            background: linear-gradient(to bottom, #b87333 10%, #E5E4E2 90%);
            max-height: 90px;
            font-size: 1.5em;
        }

        .velkommen {
            font-family: Georgia, serif;
            font-size: 1em;
            padding: 10px;
            margin: 20px;
        }

        .velkommen img {
            max-width: 200px;
            margin: 10px;

        }

        /*INDHOLD*/
        body {
            min-height: 100%;
            display: grid;
            grid-template-rows: 1fr auto;
        }

        img {
            margin: 20px 5px;
        }

        .ring_billede {
            max-width: 180px;
            margin: 0 10px;
        }

        .billede_billede {
            max-width: 250px;
            margin: 10px
        }

        .bokse {
            display: grid;
            grid-template-rows: 1fr;
        }


        .boks {
            margin: 6px;
        }


        .headset {
            margin: 10px 0 0 0;
            max-height: 40px;
        }


        .boksemne {
            font-size: 1.7em;
            font-family: 'Cookie', cursive;
        }

        .boksA {
            margin: 0 auto;
            padding: 5px 15px;
        }

        .button_container {
            margin: 13px 0 17px 0;
        }

        footer img {
            max-width: 40px;
            margin: 20px 5px;
        }

        footer {
            display: flex;
            justify-content: center;
            background: linear-gradient(to top, #b87333 -20%, #E5E4E2 100%);
        }

        .vejledning img {
            max-width: 350px;
            margin: 0px 20px 20px 20px;
        }

        .pdf {
            padding: 10px;
        }

        a {
            color: black;
        }

        .kontakt {
            display: grid;
            grid-template-rows: 1fr auto;
            position: relative;
            top: -150px;
        }

        .kontakt img {
            max-width: 200px;
            margin: 10px;
        }

        .sporgsmal {
            font-family: 'Cookie', cursive;
            margin: 6px;
            font-size: 1.5em;
            padding: 10px;
            text-decoration: underline;
        }

        .svar {
            grid-row: span 1;
            margin: 6px;
            max-width: 90%;
            padding: 10px;
        }

        h1 {
            font-size: 2em;
            text-align: left;
            margin: 10px;
            padding: 10px;
            font-family: 'Cookie', cursive;
        }

        .text {
            grid-row: span 1;
            margin: 10px;
            max-width: 90%;
            padding: 10px;
        }

        .odr_link {

            grid-row: span 1;
            margin: 10px;
            max-width: 90%;
            padding: 10px;
        }

        .formular {
            grid-row: span 1;
            margin: 10px;
            line-height: 1.6;
            max-width: 90%;
            padding: 10px;
        }

        .minKonto {
            position: relative;
            top: -250px;
        }

        .data-img {
            max-width: 80%;
        }

        #container {
            padding-left: 10%;
            padding-right: 10%;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            display: grid;
        }

        .viedo2 {
            text-align: right;
        }

        .video1 {
            text-align: center;

        }
