        :root {}

        * {
            margin: 0;
            padding: 0;
            font-family: 'Work Sans', sans-serif;
        }

        html {
            height: 100%;
            background-color: #E5E4E2;
        }

        /*Nav*/
        .logo_container img {
            max-width: 150px;
            margin: 10px;
            float: left;
        }

        .navigation li {
            display: inline-block;
            border-width: 0 1px 0 0;
            padding: 40px 10px 10px 10px;
        }

        li {
            float: right;
        }

        li a {
            text-decoration: none;
        }

        .logo_container {
            background: linear-gradient(to bottom, #b87333 10%, #E5E4E2 100%);
        }

        .velkommen {
            font-family: Georgia, serif;
            font-size: 1em;
        }

        .velkommen img {
            max-width: 200px;
            margin: 10px;

        }

        /*INDHOLD*/
        body {
            min-height: 100%;
            display: grid;
            grid-template-rows: 1fr auto;
        }

        img {
            max-width: 100%;
            margin: 20px 5px;
        }

        .bokse {
            display: grid;
            grid-template-rows: 1fr auto;
        }

        .boks {
            grid-row: span 1;
            margin: 6px;
            line-height: 1.6;
            color: ;
            text-align: center;
        }

        .headset {
            margin: 10px 0 0 0;
            max-height: 40px;
        }


        .boksheader {
            font-size: 0.9em;
            margin: 10px auto;
            text-transform: uppercase;
            font-weight: 500;
        }

        .boksemne {
            font-size: 1.7em;
            font-family: Georgia, serif;
        }

        .boksA {
            max-width: 470px;
            margin: 0 auto;
            padding: 5px 15px;
        }

        .button_container {
            margin: 13px 0 17px 0;
        }

        footer img {
            max-width: 40px;
            margin: 20px 5px;
        }

        footer {
            display: flex;
            justify-content: center;
            background: linear-gradient(to top, #b87333 -20%, #E5E4E2 100%);
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%
        }

        .vejledning img {
            max-width: 350px;
            margin: 0px 20px 20px 20px;
        }

        .pdf {
            padding: 10px;
        }

        a {
            color: black;
        }

        .kontakt img {
            max-width: 200px;
            margin: 10px;
            position:
        }
